# <center> <h1> Problem 2 <font> </h1> </center>

# <h4><font color='red'> Plotting the US population </font> </h4>

# <h4><font color='red'> load libaries </font> </h4>

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#set working directory
path = "C:\\Users\\91886\\Downloads"
os.chdir(path)

In [7]:
a = pd.read_csv('ACSST5Y2020.S0101-2022-11-29T230101.csv')
type(a)

pandas.core.frame.DataFrame

In [8]:
a

,Label (Grouping),United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Male!!Estimate,United States!!Percent Male!!Estimate,United States!!Female!!Estimate,United States!!Percent Female!!Estimate
0,Total population,"326,569,308",(X),"160,818,530",(X),"165,750,778",(X)
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"19,650,192",6.0%,"10,051,876",6.3%,"9,598,316",5.8%
3,5 to 9 years,"19,979,039",6.1%,"10,191,107",6.3%,"9,787,932",5.9%
4,10 to 14 years,"21,107,910",6.5%,"10,797,748",6.7%,"10,310,162",6.2%
5,15 to 19 years,"21,174,955",6.5%,"10,816,797",6.7%,"10,358,158",6.2%
6,20 to 24 years,"21,820,378",6.7%,"11,180,449",7.0%,"10,639,929",6.4%
7,25 to 29 years,"23,262,155",7.1%,"11,850,355",7.4%,"11,411,800",6.9%
8,30 to 34 years,"22,223,010",6.8%,"11,224,653",7.0%,"10,998,357",6.6%
9,35 to 39 years,"21,346,055",6.5%,"10,658,796",6.6%,"10,687,259",6.4%
10,40 to 44 years,"20,000,622",6.1%,"9,966,088",6.2%,"10,034,534",6.1%
11,45 to 49 years,"20,569,969",6.3%,"10,174,825",6.3%,"10,395,144",6.3%
12,50 to 54 years,"20,970,767",6.4%,"10,320,033",6.4%,"10,650,734",6.4%
13,55 to 59 years,"21,785,721",6.7%,"10,583,556",6.6%,"11,202,165",6.8%
14,60 to 64 years,"20,315,718",6.2%,"9,737,984",6.1%,"10,577,734",6.4%
15,65 to 69 years,"17,301,772",5.3%,"8,147,845",5.1%,"9,153,927",5.5%
16,70 to 74 years,"13,246,178",4.1%,"6,115,586",3.8%,"7,130,592",4.3%
17,75 to 79 years,"9,113,714",2.8%,"4,083,235",2.5%,"5,030,479",3.0%
18,80 to 84 years,"6,079,337",1.9%,"2,558,706",1.6%,"3,520,631",2.1%
19,85 years and over,"6,621,816",2.0%,"2,358,891",1.5%,"4,262,925",2.6%
20,SELECTED AGE CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN
21,5 to 14 years,"41,086,949",12.6%,"20,988,855",13.1%,"20,098,094",12.1%
22,15 to 17 years,"12,559,597",3.8%,"6,416,023",4.0%,"6,143,574",3.7%
23,Under 18 years,"73,296,738",22.4%,"37,456,754",23.3%,"35,839,984",21.6%
24,18 to 24 years,"30,435,736",9.3%,"15,581,223",9.7%,"14,854,513",9.0%
25,15 to 44 years,"129,827,175",39.8%,"65,697,138",40.9%,"64,130,037",38.7%
26,16 years and over,"261,649,873",80.1%,"127,648,380",79.4%,"134,001,493",80.8%
27,18 years and over,"253,272,570",77.6%,"123,361,776",76.7%,"129,910,794",78.4%
28,21 years and over,"240,169,127",73.5%,"116,650,048",72.5%,"123,519,079",74.5%
29,60 years and over,"72,678,535",22.3%,"33,002,247",20.5%,"39,676,288",23.9%
30,62 years and over,"64,136,076",19.6%,"28,887,077",18.0%,"35,248,999",21.3%
31,65 years and over,"52,362,817",16.0%,"23,264,263",14.5%,"29,098,554",17.6%
32,75 years and over,"21,814,867",6.7%,"9,000,832",5.6%,"12,814,035",7.7%
33,SUMMARY INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN
34,Median age (years),38.2,(X),37.0,(X),39.6,(X)
35,Sex ratio (males per 100 females),97.0,(X),(X),(X),(X),(X)
36,Age dependency ratio,62.5,(X),(X),(X),(X),(X)
37,Old-age dependency ratio,26.1,(X),(X),(X),(X),(X)
38,Child dependency ratio,36.5,(X),(X),(X),(X),(X)
39,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN
40,Sex,(X),0.1%,(X),(X),(X),(X)
41,Age,(X),1.6%,(X),(X),(X),(X)

In [9]:
b = pd.read_csv("ACSST1Y2010.S0101-2022-11-29T230224.csv")
type(b)

pandas.core.frame.DataFrame

In [10]:
b

,Label (Grouping),United States!!Total!!Estimate,United States!!Male!!Estimate,United States!!Female!!Estimate
0,Total population,"309,349,689","152,089,450","157,260,239"
1,AGE,NaN,NaN,NaN
2,Under 5 years,6.5%,6.8%,6.3%
3,5 to 9 years,6.6%,6.8%,6.4%
4,10 to 14 years,6.7%,7.0%,6.4%
5,15 to 19 years,7.1%,7.5%,6.8%
6,20 to 24 years,7.0%,7.3%,6.7%
7,25 to 29 years,6.8%,6.9%,6.6%
8,30 to 34 years,6.5%,6.6%,6.4%
9,35 to 39 years,6.5%,6.6%,6.5%
10,40 to 44 years,6.8%,6.9%,6.7%
11,45 to 49 years,7.3%,7.3%,7.3%
12,50 to 54 years,7.2%,7.2%,7.2%
13,55 to 59 years,6.4%,6.3%,6.5%
14,60 to 64 years,5.5%,5.4%,5.6%
15,65 to 69 years,4.0%,3.9%,4.2%
16,70 to 74 years,3.0%,2.8%,3.2%
17,75 to 79 years,2.3%,2.1%,2.6%
18,80 to 84 years,1.9%,1.5%,2.2%
19,85 years and over,1.8%,1.2%,2.4%
20,SELECTED AGE CATEGORIES,NaN,NaN,NaN
21,5 to 14 years,13.3%,13.8%,12.8%
22,15 to 17 years,4.2%,4.4%,4.0%
23,18 to 24 years,10.0%,10.4%,9.6%
24,15 to 44 years,40.7%,41.7%,39.7%
25,16 years and over,78.8%,78.0%,79.7%
26,18 years and over,76.0%,75.0%,77.0%
27,60 years and over,18.6%,16.9%,20.3%
28,62 years and over,16.3%,14.6%,17.9%
29,65 years and over,13.1%,11.5%,14.6%
30,75 years and over,6.0%,4.8%,7.2%
31,SUMMARY INDICATORS,NaN,NaN,NaN
32,Median age (years),37.2,35.8,38.5
33,Sex ratio (males per 100 females),96.7,(X),(X)
34,Age dependency ratio,58.8,(X),(X)
35,Old-Age dependency ratio,20.8,(X),(X)
36,Child dependency ratio,38.1,(X),(X)
37,PERCENT IMPUTED,NaN,NaN,NaN
38,Sex,0.1%,(X),(X)
39,Age,1.3%,(X),(X)

In [15]:
pop = a[['United States!!Male!!Estimate']]
pop.head()

  United States!!Male!!Estimate
0                   160,818,530
1                           NaN
2                    10,051,876
3                    10,191,107
4                    10,797,748

In [16]:
pop1 = b[['United States!!Male!!Estimate']]
pop1.head()

  United States!!Male!!Estimate
0                   152,089,450
1                           NaN
2                          6.8%
3                          6.8%
4                          7.0%